// Breakpoints
@mixin bp($point) {
	$sm: "(min-width: 500px)";
	$md: "(min-width: 768px)";
	$lg: "(min-width: 1024px)";
	$xl: "(min-width: 1600px)";
	$xxl: "(min-width: 1800px)"; //correspond à largeur max
  
	@if $point == sm {
	@media #{$sm} { @content; }
	}
	@else if $point == md {
	@media #{$md} { @content; }
	}

	@else if $point == lg {
	@media #{$lg} { @content; }
	}
  
	@else if $point == xl {
	@media #{$xl} { @content; }
	}

	@else if $point == xxl {
		@media #{$xxl} { @content; }
		}
}


@mixin bleed {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
	@include bp(xxl) {
		width:var(--largeur-max);
	}
}

@mixin bleed-ohm {
	width: calc(100% + 2*var(--padding-x));
	transform: translateX(calc(-1*var(--padding-x)));
}

@mixin unset-bleed {
	width: unset;
	margin-left: unset;
	transform: unset;
}

@mixin largeur-max {
	max-width:var(--largeur-max);
	margin-left:auto;
	margin-right: auto;
}


@mixin bouton {
	background-color: var(--wp--preset--color--cyan-ad);
	border: none;
	border-radius: 2px;
	color:var(--wp--preset--color--blanc);
	cursor: pointer;
	display:inline-block;
	font-family: var(--font-poppins);
	font-size: 1.6rem;
	font-weight: 700;
	margin: 0;
	padding: 11px 23px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all var(--transition);

	vertical-align: middle;

	
	&:hover, &:focus, &:active {
		background-color: #03BEC2;
		text-decoration: none;
	}
	@include bp(lg) {
		font-size: 1.8rem;
	}
}

@mixin screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

@mixin placeholder {
	color:#000000;
	opacity:1;
}

@mixin object-fit {
	object-fit: cover;
	object-position: center;
	width: 100%;
}


@mixin titre-section-avec-trait {
	--largeur-trait:7rem;
	--top-trait:1.9rem;
	--ep-trait:2px;
	color:var(--couleur);
	font-family: var(--font-poppins);
	margin-bottom: 2.9rem;
	margin-top: 0;
	padding-bottom: var(--top-trait);
	text-align: center;
	text-transform: uppercase;

	&::after {
		background-color: var(--couleur);
		border-radius: 100px;
		content: '';
		display: block;
		height:var(--ep-trait);
		left:calc((100% - var(--largeur-trait)) / 2);
		position:relative;
		top:var(--top-trait);
		width:var(--largeur-trait);
	}
	@include bp(lg) {
		--largeur-trait:10rem;
		--ep-trait:6px;
		--top-trait:4rem;

		font-size: 5.04rem;
		line-height: 5.4rem;
		margin-bottom: calc(9.5rem - var(--top-trait));
	}
}