@import "./././sass/abstracts/variables-et-mixins";

.home-checks {
	--couleur:var(--wp--preset--color--blanc);
	background: transparent linear-gradient(180deg, #00AAAD 0%, #08DDE1 100%) 0% 0% no-repeat padding-box;
	color:var(--couleur);
	padding:5rem 2rem;

	.titre-section {
		@include titre-section-avec-trait;
	}

	--picto-w:2.7rem;

	.check {
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 2.7rem;
		position: relative;
		text-align: center;

		&::before {
			background-image: url('check.svg');
			background-repeat: no-repeat;
			background-size: contain;
			content:'';
			display: block;
			height:var(--picto-w);
			left:calc((100% - var(--picto-w)) / 2);
			margin-bottom: 1.2rem;
			position:relative;
			width:var(--picto-w);
		}
	}

	.bouton {
		display: block;
		margin:0 auto 1.8rem;
		max-width: 23rem;
	}

	.texte {
		font-size: 2rem;
		font-weight: 600;
		line-height: 2.8rem;
		margin-bottom: 3.8rem;
		text-align: center;
	}

	@include bp(md) {
		.check {
			margin-left:auto;
			margin-right:auto;
			max-width: 42rem;
		}

		.liens {
			gap:5rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.bouton {
			margin:0;
			&:first-of-type {
				margin-left: auto;
			}
		}
	}
	@include bp(lg) {
		--picto-w:4.1rem;
		padding:9rem 2rem;
		.checks {
			column-gap:3rem;
			display: grid;
			grid-template-columns: repeat(3,1fr);
		}
		.check {
			font-size: 2rem;
			line-height: 2.8rem;
			margin-bottom: 6rem;
			&::before {
				margin-bottom: 2.9rem;
			}
		}
		.texte {
			font-size: 2.34rem;
			line-height: 3.24rem;
			margin-bottom: 7.6rem;
		}
		.bouton {
			min-width: 30rem;
			max-width: 34rem;
		}
	}

	@include bp(xl) {
		.checks {
			column-gap:7rem;
			margin:2rem auto 0;
			max-width:140rem;
		}
		
	}
	
} 