button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.bouton,
.wp-element-button,
.wp-block-button.is-style-outline > .wp-block-button__link,
.wp-block-button .wp-block-button__link.is-style-outline {
	@include bouton;
}


.is-style-secondaire .wp-element-button, 
a.bouton.secondaire,
button.secondaire 
{
	background-color:var(--wp--preset--color--blanc);
	border-radius:0;
	color:var(--wp--preset--color--noir);

	&:focus, &:hover, &:active {
		background-color:var(--wp--preset--color--blanc);
		color:var(--wp--preset--color--cyan-ad);
	}
}

input[type="submit"] {
	-webkit-appearance: none;
}