html {
	box-sizing: border-box;
	scroll-behavior:unset;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr, .wp-block-separator {
	background-color: #ececec;
	border: 0;
	height: 1px;
	margin:0 auto;
	max-width: calc(100% - 2rem);
	@include bp(lg) {
		max-width:80%;
	}
	@include bp(xl) {
		max-width:124.4rem;
	}
}

.entry-content ul:not([class]) {
	list-style: disc;
	padding-left: 1.2rem;
}
/*
ul:not([class]),
ol:not([class]) {
	margin: 0 0 1.5em 0;
	padding-left:1em;
}

ul:not([class])  {
	list-style: none;
	padding-left:1em;
	> li::before {
		content: '•'; 
		color: var(--bleu);
		display: inline-block; 
		width: 1em;
		margin-left: -1em		
	}
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}*/

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */

	&.emoji {
		width: 2ch;
		display: inline-block;
		position: relative;
		top: 3px;
	}
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
	figcaption {
		text-align: center;
	}
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	min-height:4rem;
	padding: 1rem 1.4rem;
	
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		@include ninja-placeholder;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		@include ninja-placeholder;

	}
	&:-ms-input-placeholder { /* IE 10+ */
		@include ninja-placeholder;

	}
	&:-moz-placeholder { /* Firefox 18- */
		@include ninja-placeholder;
	}
}

/*--------------------------------------------------------------
## Ninja forms
--------------------------------------------------------------*/

.nf-form-wrap {
	.nf-form-content input:not([type="button"]), .nf-form-content textarea {
		background-color: #fff;
		border: 1px solid #D3D2D2;
		border-radius: 2px;
		&:focus {
			border-color:var(--wp--preset--color--cyan-ad);
			color:var(--wp--preset--color--cyan-ad);
		}
	}
	.nf-form-content label {
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.8rem;
		margin-bottom: 6px;
	}
	.nf-field-container {
		margin-bottom: 2rem;
	}
	.nf-form-fields-required {
		font-size: 1.6rem;
		font-style: italic;
		line-height: 2.2rem;
		text-align: right;
	}
	.ninja-forms-req-symbol {
		color:#A71C20;
	}

	.nf-error.field-wrap .nf-field-element::after {
		display: none;
	}
	.nf-error-msg {
		color:#A71C20;
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 2rem;
		margin-left: 1.8rem;
	}

	.list-radio-wrap {
		border-bottom: solid 1px var(--wp--preset--color--gris-eb);
		border-top: solid 1px var(--wp--preset--color--gris-eb);
		margin:3rem 0;
		padding:3rem 0 2rem;
	}
	.list-radio-wrap .nf-field-element {
		

		input {
			display: block;
			margin-right: 0 !important;
			@include screen-reader-text;

		}
		li {
			align-items: center;
			display: inline-flex;
		}
		label {
			margin-left: 17px !important;
			margin-right: 2.3rem;
			position: relative;
		}
		li label::after {
			background-color: white;
			border:solid 1px #666868;
			border-radius: 100%;
			bottom: 5px;
			content:' ';
			height: 14px;
			left: -18px;
			position: absolute;
			top: unset;
			width: 14px;
		}

		li label.nf-checked-label {
			&::before {
				background:var(--wp--preset--color--cyan-ad);
				border-radius: 100%;
				bottom: 9px;
				content:' ';
				height:6px;
				left: -14px;
				position: absolute;
				top:unset;
				width:6px;
				z-index: 1;
			}
		}
		input[type="radio"]:focus + label {
			color:var(--wp--preset--color--cyan-ad);
			&::after {
				border-color:var(--wp--preset--color--cyan-ad);
				box-shadow: none;

			}
		}

	}

	
	.submit-wrap {
		text-align: center;
		input[type="button"] {
			font-weight: 700;
			min-width: 24.6rem;
			padding:0.5rem 3rem;
		}
	}
	
	//Checkbox pour accepter l'utilisation des données personnelles
	.checkbox-wrap.field-wrap {
		display: block;
		.nf-field-label {
			padding-left: 0;
		}

		&:focus-within {
			.nf-field-label label {
				color:var(--wp--preset--color--cyan-ad);
				&::before {
					border-color:var(--wp--preset--color--cyan-ad);
				}
			}
		}
	}
	.nf-form-content .checkbox-container.label-right {
		border-top: solid 1px var(--wp--preset--color--gris-eb);
		margin-top: 3rem;
		padding-top: 3rem;

		input {
			display: block;
			@include screen-reader-text;
		}

	
		.nf-field-label label {
			font-weight: 600;
			padding-left:0;
			&:before {
				background-color: #fff;
				border: 1px solid #666868;
				border-radius: 100%;
				content:'';
				display: inline-block;
				height: 14px;
				margin-right: 12px;
				width: 14px;

			}
			&.nf-checked-label::after {
				background-image: url(//www.eflex-energy.com/wp-content/themes/eflex-2023/icons/check-simple.svg);
				background-repeat: no-repeat;
				background-size: contain;
				content: " ";
				display: block;
				height: 20px;
				left: -3px;
				position: absolute;
				top: 34px;
				width: 20px;
				z-index: 1;
			}
		}
	}

	input[type="submit"]:not([type="button"]) {
		background-color: var(--wp--preset--color--cyan-ad);
		color:var(--wp--preset--color--blanc);
		padding-left:4rem;
		padding-right:4rem;
		&:hover, &:focus, &:active {
			background-color: #03BEC2;
			color:var(--wp--preset--color--blanc);
		}
	}
	
	@include bp(lg) {
		nf-fields-wrap {
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			& > nf-field {
				flex-basis:100%;
			}
			nf-field {
				&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
					flex-basis:calc(50% - 1rem);
				}
			}
		}
		
	}
	
}

/*--------------------------------------------------------------
## Checkbox Matomo
--------------------------------------------------------------*/
#matomo_optout_checkbox {
	@include screen-reader-text
}
#matomo_opted_in_label, #matomo_opted_out_label {
	color:var(--wp--preset--color--noir);
	font-weight: 600;
	position: relative;
	&:before {
		background-color: #fff;
		border: 1px solid #666868;
		border-radius: 100%;
		content:'';
		display: inline-block;
		height: 14px;
		margin-right: 12px;
		width: 14px;

	}
}
#matomo_opted_in_label::after {
	background-image: url(//www.eflex-energy.com/wp-content/themes/eflex-2023/icons/check-simple.svg);
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
	display: block;
	height: 20px;
	left: -3px;
	position: absolute;
	top: -1px;
	width: 20px;
	z-index: 1;
	
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

