
.block-list-appender button, button.acf-button , .wp-editor-tabs button {
	min-width:unset;
	padding:unset;
	&, &:hover,&:focus {
		background-color:transparent;
	}
}

.edit-post-visual-editor {
	
	h1 {
		font-size: 40px;
		font-weight: bold;
	}
	h2 {
		color:#00AAAD !important;
		font-size: 30px;
	}
	p {
		font-size: 18px;
	}

	ul {
		list-style: disc !important;
		li {
			font-size: 18px !important;
		}
	}
}
