

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


body {
	margin:0; //ios 12 et 13
	overflow-x:hidden;
}
:root {
	--padding-x:2.3rem;
	--hauteur-banniere :250px; 
	--largeur-max:1800px;

	@include bp(lg) {
		--padding-x : calc((100vw - 98.8rem )/2);
		--hauteur-banniere :480px; 
	}

}

//Réglages de largeur communs à tous les templates
.site-container {
	@include largeur-max;

	.site-main {
		padding-bottom: 2.4rem;
	}

	.entry-content {
		padding-top: 2.4rem;
	}

	@include bp(lg) {
		

	}
}



body .entry-content {
	padding: 0 var(--padding-x) 1px;
}

body.home .entry-content {
	padding: 0;
}


.alignfull , .bleed-container {
	@include bleed;
	padding-left: 0;
	padding-right: 0;
}

.container {
	padding:0 var(--padding-x);
}

/* Hauteur mini main*/

.site {
	overflow-x: hidden;
	position: relative;
}
.site-main {
	min-height:50vh;
}


.show-for-md,
.show-for-lg {
	display: none;
}

@include bp(md) {


	.show-for-md {
		display: initial;
	}

	.hide-for-md {
		display: none;
	}
}

@include bp(lg) {


	.show-for-lg {
		display: initial;
	}

	.hide-for-lg {
		display: none;
	}
}



/* Echelle z-index 
Elements qui ont juste besoin d'être au-dessus de leur voisin : 1
Overlay : 5
Sticky header : 10
Menu mobile : 10
Sous-menu desktop : 10;

*/