

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


body {
	margin:0; //ios 12 et 13
	overflow-x:hidden;
}
:root {
	--padding-x:2.3rem;
	--hauteur-banniere :250px; 
	--largeur-max:1800px; //doit correspondre à bp xxl
	--header-height:4rem;
	@include bp(md) {
		--header-height:6rem;
	}
	@include bp(lg) {
		--padding-x : calc((100vw - 98.8rem )/2);
		--hauteur-banniere :480px; 
		--header-height:7rem;
	}
	@include bp(xxl) {
		--padding-x : calc((var(--largeur-max) - 98.8rem )/2);
	}

}

//Réglages de largeur communs à tous les templates
.site-container {

	.site-main, .site-footer {
		@include largeur-max;
	}
	.site-main {
		padding-bottom: 2.4rem;
	}

	.entry-content {
		padding-top: 2.4rem;
	}


}



body .entry-content {
	padding: 0 var(--padding-x) 1px;
}



.alignfull , .bleed-container {
	@include bleed;
	padding-left: 0;
	padding-right: 0;
}

.container {
	padding:0 var(--padding-x);
}

/* Hauteur mini main*/

.site {
	overflow-x: hidden;
	position: relative;
}
.site-main {
	min-height:50vh;
}

/* Classe utilitaire spéciale pour les br */

.hidden-xs {
	display: none;
}
@media screen and (min-width:992px) {
	.hidden-xs {
		display: block;
	}
}
