/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition:0.45s ease-in-out;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
	color:black;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	outline-color: transparent;
}
a:focus-visible {
	outline: medium dotted;
}


/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;
	.ancre {
		left:0;
		position:absolute;
		top:calc(-1px * var(--header-bottom));
	}
}


/*--------------------------------------------------------------
## Menu principal
--------------------------------------------------------------*/
.nav-main {
	display: none;
}
@include bp(md) {
	.nav-main {
		display: block; 
		.menu {
			align-items: center;
			display: flex;
			padding:1.2rem 0 1.3rem;
			li {
				margin-right: 3rem;
				a {
					@include bouton;
				}
			}
		}
	}
}