/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition:0.45s ease-in-out;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
	color:var(--wp--preset--color--cyan-ad);
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	outline-color: transparent;
}
a:focus-visible {
	outline: medium dotted;
}


/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;
	.ancre {
		left:0;
		position:absolute;
		top:calc(-1px * var(--header-bottom));
	}
}


/*--------------------------------------------------------------
## Menu principal
--------------------------------------------------------------*/
.nav-main {
	display: none;
}
@include bp(md) {
	.nav-main {
		display: block; 
		.menu {
			align-items: center;
			display: flex;
			padding:1.2rem 0 1.3rem;
			li {
				margin-right: 3rem;
				a {
					@include bouton;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Language switcher
--------------------------------------------------------------*/
.wpml-ls-statics-shortcode_actions.wpml-ls-legacy-list-horizontal {
	align-items: center;
	background-color: var(--wp--preset--color--gris-eb);
	border:none;
	display: flex ;
	font-family: var(--font-poppins);
	height:var(--header-height);
	padding:0 2.3rem;

	@include bp(lg) {
		font-size: 2.2rem;
		padding:0 2rem;
	}

	ul {
		display: flex;
		align-items: center;
	}

	li {
		color:var(--wp--preset--color--cyan-ad);
		&.wpml-ls-current-language {
			color:var(--wp--preset--color--noir);
		}
		&.wpml-ls-first-item {
			border-right:solid 3px var(--wp--preset--color--noir);
			margin-right: 1ch;
			padding-right:1ch;
		}
	}
	
	a {
		color:inherit;
		padding:0;
	}
}