/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
//header toujours sticky
.site-header {
	background-color: #fff;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
	position:fixed; 
	height:var(--header-height);
	left: 0;
	top: 0;
	width:100%;
	z-index: 10;

	@include largeur-max;

	@include bp(xxl) {
		left:calc((100vw - var(--largeur-max)) / 2);
	}
}


#wpadminbar {
	position: fixed;
}
.admin-bar{
	.site-header  {
		top:46px;
		@include bp(md) {
			top:unset;
		}
	}
}

//Layout du header

.site-header {
	--taille-logo:10rem;
	
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-left: 1.7rem;

	@include bp(lg) {
		--taille-logo:14.9rem;
		padding-left: 2.8rem;

	}

}

.logo-header {
	flex:0 0 var(--taille-logo);
	margin-right: auto;
}



/*--------------------------------------------------------------
## Ancre pour backtotop
--------------------------------------------------------------*/
#main-content {
	position: relative;
}
#haut-page {
	position: relative;
	top:-200px;
}
/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page-banniere {
	align-items: center;
	display: flex;
	height:var(--hauteur-banniere);
	justify-content: center;
	margin: 0 auto;
	position: relative;	
	padding:var(--header-height) var(--padding-x) 0;
	max-width:var(--largeur-max);
	width:100%;

	img {
		height:100%;
		left:0;
		position: absolute;
		top:0;
		width:100%;
	}



	.titre-banniere {
		--largeur-trait:7rem;
		--top-trait:1rem;
		--ep-trait:2px;

		@include bp(lg) {
			--largeur-trait:10rem;
			--top-trait:3rem;
			--ep-trait:4px;
		}

		color:var(--wp--preset--color--blanc);
		margin-bottom: calc(var(--ep-trait) + var(--top-trait));
		position: relative ;
		text-align: center;
		&::after {
			background-color: var(--wp--preset--color--blanc);
			border-radius: 100px;
			content: '';
			display: block;
			height:var(--ep-trait);
			left:calc((100% - var(--largeur-trait)) / 2);
			position:relative;
			top:var(--top-trait);
			width:var(--largeur-trait);
		}

	}

	@include bp(lg) {
		--decor-h:10rem;
		margin-bottom: var(--decor-h);
		&::after {
			background-image: url('icons/dots-degrade.svg');
			background-repeat: repeat-x;
			bottom:calc(-1 * var(--decor-h));
			content:' ';
			height:var(--decor-h);
			left:0;
			position: absolute;
			width:100%;
		}
	}
	
	
}

.entry-title {
	text-align: center;
}

