/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
//header toujours sticky
.site-header {
	background-color: #fff;
	position:fixed; 
	left: 0;
	top: 0;
	width:100%;
	z-index: 10;
}


#wpadminbar {
	position: fixed;
}
.admin-bar{
	.site-header  {
		top:46px;
		@include bp(md) {
			top:unset;
		}
	}
	.site-inner {
		margin-top: 46px;
		@include bp(md) {
			margin-top:unset;
		}
	}
}

//Layout du header

.site-header {
	--taille-logo:10rem;
	
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-left: 1.7rem;

	@include bp(lg) {
		--taille-logo:14.9rem;
		padding-left: 2.8rem;

	}

}

.logo-header {
	flex:0 0 var(--taille-logo);
	margin-right: auto;
}



/*--------------------------------------------------------------
## Ancre pour backtotop
--------------------------------------------------------------*/
#main-content {
	position: relative;
}
#haut-page {
	position: relative;
	top:-200px;
}
/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page-banniere {
	--padding-top:3.4rem;
	align-items: center;
	display: flex;
	height:var(--hauteur-banniere);
	justify-content: center;
	overflow: hidden;
	margin: 0 auto;
	position: relative;	
	padding:var(--padding-top) var(--padding-x);
	max-width:var(--largeur-max);
	width:100%;

	img {
		height:100%;
		left:0;
		position: absolute;
		top:0;
		width:100%;
	}
	.filtre {
		background-color: #000;
		height:100%;
		left:0;
		opacity: 0.6;
		position: absolute;
		top:0;
		width:100%;
	}
	.titre-banniere, .retour {
		color:var(--wp--preset--color--blanc);
		position: relative ;
	}
	a.retour {
		font-size: 1.6rem;
		font-weight: 400;
		left:var(--padding-x);
		position: absolute;
		text-decoration: none;
		text-transform: uppercase;
		top:var(--padding-top);
	}
	.titre-banniere {
		text-align: center;
	}

	--trait:8rem;
	@include bp(sm) {
		--trait:21vw;
	}
	@include bp(lg) {
		--trait:27.7rem;
		a.retour {
			font-size: 2.4rem;
			top:5rem;
		}
	}
	@include bp(xl) {
		--trait:40rem;
	}
	&::after {
		background-color: var(--wp--preset--color--orange-main);
		bottom:0;
		content:' ';
		height:6px;
		left:calc((100% - var(--trait)) / 2);
		position:absolute;
		width:var(--trait);
	}
}

@include bp(lg) {
	.banniere-reduite .page-banniere {
		height:31.5rem;
	}
}

.entry-title {
	text-align: center;
}

