/*--------------------------------------------------------------
##  Volet avec les CTAs
--------------------------------------------------------------*/

.volet-cta {
	align-items: center;
	background-color: var(--wp--preset--color--cyan-ad);
	display: none;
	//display: flex;
	justify-content: center;
	left:0;
	min-height:100vh;
	padding:3rem;
	position: absolute;
	top:0;
	width:100vw;
	z-index: 15; //au-dessus du menu

	.cadre {
		background-color: #fff;
		padding: 2rem 4rem;
		position: relative;
	}
	.titre-cta {
		color:var(--wp--preset--color--noir);
		font-family: var(--font-poppins);
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 2.8rem;
		margin-bottom: 1.5rem;
		text-align: center;
		text-transform: uppercase;
	}

	.link-cta {
		align-items: center;
		background: #E9E9E9;
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
		padding: 1.1rem;
	}
	
	.texte-cta {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 2.2rem;
		margin-bottom: 0;
		text-align: center;
	}
	--taille-x:2.5rem;
	.fermer {
		background-color: transparent;
		height:var(--taille-x);
		padding:0;
		position: absolute;
		right: 0;
		top:calc(-1 * var(--taille-x));
		width:var(--taille-x);

		&:hover, &:focus,&:active {
			background-color: transparent;
			svg line {
				stroke:var(--wp--preset--color--noir);
			}
		}
	}

	@include bp(md) {
		.cadre {
			padding:3rem 5rem;
		}
		.titre-cta {
			font-size: 3rem;
			line-height: 4rem;
			margin-bottom: 5rem;
		}
		.cols-cta {
			display: grid;
			grid-template-columns: 50% 50%;
		}

		.link-cta {
			background-color: transparent;
			padding:4rem 2rem;
			&:first-of-type {
				margin-right: 2rem;
			}
			&:last-of-type {
				margin-left: 2rem;
				position: relative;
			}
			&:nth-of-type(2)::before {
				background-color: #EBEBEB;
				content: "-";
				height: 100%;
				width: 1px;
				position: absolute;
				left: -2rem;
				top: 0;
				color: transparent;
			}
			&:hover, &:focus-visible, &:active {
				background-color: #E9E9E9;
			}
		}

		.texte-cta {
			font-size: 2rem;
			line-height: 2.8rem;
		}
		.fermer {
			right:calc(-1*var(--taille-x) - 0.5rem);
			top:0;
		}
	}
	@include bp(xl) {
		.cadre {
			padding:3rem 11.5rem;
		}
	}
	@include bp(xl) {
		.cadre {
			padding:3rem 8rem;
		}
	}
}


/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
//header toujours sticky
.site-header {
	background-color: #fff;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
	position:fixed; 
	height:var(--header-height);
	left: 0;
	top: 0;
	width:100%;
	z-index: 10;
}


#wpadminbar {
	position: fixed;
}
.admin-bar{
	.site-header  {
		top:46px;
		@include bp(md) {
			top:unset;
		}
	}
}

//Layout du header

.header-container {
	--taille-logo:15rem;
	
	align-items: center;
	display: flex;
	justify-content: space-between;
	@include largeur-max;
	padding-left: 1.7rem;

	
	@include bp(lg) {
		--taille-logo:20rem;
		padding-left: 2.8rem;
	}
	
	@include bp(xl) {
		--taille-logo:25rem;
	}

}

.logo-header {
	flex:0 0 var(--taille-logo);
	margin-right: auto;
}



/*--------------------------------------------------------------
## Ancre pour backtotop
--------------------------------------------------------------*/
#main-content {
	position: relative;
}
#haut-page {
	position: relative;
	top:-200px;
}
/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page-banniere {
	align-items: center;
	display: flex;
	height:var(--hauteur-banniere);
	justify-content: center;
	margin: 0 auto;
	position: relative;	
	padding:var(--header-height) var(--padding-x) 0;
	max-width:var(--largeur-max);
	width:100%;

	img {
		height:100%;
		left:0;
		position: absolute;
		top:0;
		width:100%;
	}



	.titre-banniere {
		--largeur-trait:7rem;
		--top-trait:1rem;
		--ep-trait:2px;

		@include bp(lg) {
			--largeur-trait:10rem;
			--top-trait:3rem;
			--ep-trait:4px;
		}

		color:var(--wp--preset--color--blanc);
		margin-bottom: calc(var(--ep-trait) + var(--top-trait));
		position: relative ;
		text-align: center;
		&::after {
			background-color: var(--wp--preset--color--blanc);
			border-radius: 100px;
			content: '';
			display: block;
			height:var(--ep-trait);
			left:calc((100% - var(--largeur-trait)) / 2);
			position:relative;
			top:var(--top-trait);
			width:var(--largeur-trait);
		}

	}

	@include bp(lg) {
		--decor-h:10rem;
		margin-bottom: var(--decor-h);
		&::after {
			background-image: url('icons/dots-degrade.svg');
			background-repeat: repeat-x;
			bottom:calc(-1 * var(--decor-h));
			content:' ';
			height:var(--decor-h);
			left:0;
			position: absolute;
			width:100%;
		}
	}
	
	
}

.entry-title {
	text-align: center;
}

