body.home  {
	.entry-content {
		padding: 0;
	}
	.site-main {
		padding-bottom: 0;
	}
}

.home-gris {
	background: transparent linear-gradient(180deg, #fff 0%, #F7F7F7 100%) 0% 0% no-repeat padding-box;
	padding:4rem 2rem;
	p + p {
		margin-top: 4rem;
	}
	@include bp(md) {
		p {
			max-width: 80%;
		}
	}

	@include bp(lg) {
		font-size: 3rem;
		line-height: 4.2rem;
		padding-bottom: 7rem;
		p {
			max-width: calc(124rem - 8rem);
		}
	}
}

.home-video {
	padding:2.6rem; 
	position: relative;
	&::before {
		background: linear-gradient(180deg, #00AAAD 0%, #08DDE1 100%);
		content:' ';
		display: block;
		height:80%;
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
	}
	@include bp(lg) {
		padding:5.4rem;
		&::after {
			background-image: url('icons/dots-degrade.svg');
			background-repeat: repeat-x; 
			content:' ';
			display: block;
			height:15%;
			position: absolute;
			top: 80%;
			left: 0;
			width:100%;
		}
		figure {
			max-width: 149rem;
			position: relative;
			z-index: 1;
		}
	}
}