body.home  {
	.entry-content {
		padding: 0;
	}
	.site-main {
		padding-bottom: 0;
	}
	.logo-header {
		opacity: 0;
		transition:opacity ease-in-out 0.4s;
		&.fade-in {
			opacity: 1;
		}
	}
}

.home-gris {
	background: transparent linear-gradient(180deg, #fff 0%, #F7F7F7 100%) 0% 0% no-repeat padding-box;
	font-weight: 700;
	padding:4rem 2rem;

	h2 {
		--couleur:var(--wp--preset--color--noir);
		@include titre-section-avec-trait;
	}
	p {
		margin-bottom: 1em;
	}
	strong {
		color:var(--wp--preset--color--noir);
	}

	--picto-w:2.3rem;
	ul {
		list-style: none !important;
	}
	li {
		margin-bottom: 1em;
		padding-left: calc(1.5 *  var(--picto-w));
		position: relative;

		&::before {
			background-image: url('icons/check-cyan.svg');
			background-repeat: no-repeat;
			background-size: contain;
			content:'';
			display: block;
			height:var(--picto-w);
			left:0;
			position:absolute;
			top:5px;
			width:var(--picto-w);
		}
	}
	
	@include bp(md) {
		p, ul {
			margin-left:auto;
			margin-right: auto;
			max-width: 80%;
		}
	}

	@include bp(lg) {
		padding-top: 13.5rem;
		padding-bottom: 10rem;
		p, ul {
			max-width: 100rem;
		}
		p {
			font-size: 3rem;
			line-height: 4rem;
		}
		ul {
			font-weight: 600;
			font-size: 2rem;
			line-height: 2.8rem;
		}
	}
}

.home-solutions {
	background-image: url('icons/dots-degrade.svg');
	background-repeat: repeat-x;
	padding:10rem 2rem 4rem;


	h2 {
		--couleur:var(--wp--preset--color--noir);
		@include titre-section-avec-trait;
	}

	img {
		margin: 0 auto 2rem;
		max-width:12rem;
	}
	.wp-block-column {
		margin-bottom: 4rem;
	}
	.wp-block-column:first-of-type {
		border-bottom:solid 1px #F7F7F7;
		padding-bottom: 4rem;
	}

	& > p.has-text-color {
		font-size: 150%;
		margin-bottom: 2rem;
	}
	
	
	@include bp(md) {
		padding-bottom: 6rem;
		--gap:4rem;
		h2 {
			margin-bottom: 6rem;
		}
		.wp-block-column {
			margin-bottom: 6rem;
		}
		.wp-block-column:first-of-type {
			border-bottom:none;
			border-right:solid 1px #F7F7F7;
			padding-bottom: 0;
			padding-right:var(--gap);
		}
		.wp-block-column:nth-of-type(2) {
			padding-left: var(--gap);
		}
	}

	@include bp(lg) {
		--gap:8rem;
		padding: 18rem 3vw 10rem;

		img {
			margin-bottom: 4rem;
			max-width:30rem;
		}

		.wp-block-column {
			margin-bottom: 8rem;
		}
	}

	@include bp(xl) {
		--gap:13.5rem;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		max-width: 124.4rem;

		img {
			margin-bottom: 5rem;
		}
	}
}

.home-advisory {
	background: transparent linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%) 0% 0% no-repeat padding-box;
	ul {
		font-weight: 400;
		li strong {
			color:var(--wp--preset--color--cyan-ad);
			font-weight: 700;
		}
	}
	@include bp(lg) {
		
		p {
			font-size: 2.4rem;
			line-height: 3.2rem;
		}
	}
}

.home-video {
	padding:2.6rem; 
	position: relative;
	&::before {
		background: linear-gradient(180deg, #00AAAD 0%, #08DDE1 100%);
		content:' ';
		display: block;
		height:80%;
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
	}
	@include bp(lg) {
		padding:5.4rem;
		&::after {
			background-image: url('icons/dots-degrade.svg');
			background-repeat: repeat-x; 
			content:' ';
			display: block;
			height:15%;
			position: absolute;
			top: 80%;
			left: 0;
			width:100%;
		}
		figure {
			max-width: 128rem;
			position: relative;
			z-index: 1;
		}
	}
}