.home-temoignages {
  background-image: url("dots-degrade.svg");
  background-repeat: repeat-x;
  padding: 3rem 2rem;
  /*
  @include bp(xl) {
  	.ligne:nth-of-type(3) {
  		transform:translateX(7rem);
  		& > p {
  			padding-left:0;
  		}
  	}
  }*/
}
.home-temoignages .titre-section {
  --couleur:var(--wp--preset--color--noir);
  --largeur-trait:7rem;
  --top-trait:1.9rem;
  --ep-trait:2px;
  color: var(--couleur);
  font-family: var(--font-poppins);
  margin-bottom: 2.9rem;
  margin-top: 0;
  padding-bottom: var(--top-trait);
  text-align: center;
  text-transform: uppercase;
}
.home-temoignages .titre-section::after {
  background-color: var(--couleur);
  border-radius: 100px;
  content: "";
  display: block;
  height: var(--ep-trait);
  left: calc((100% - var(--largeur-trait)) / 2);
  position: relative;
  top: var(--top-trait);
  width: var(--largeur-trait);
}
@media (min-width: 1024px) {
  .home-temoignages .titre-section {
    --largeur-trait:10rem;
    --ep-trait:6px;
    --top-trait:4rem;
    font-size: 5.04rem;
    line-height: 5.4rem;
    margin-bottom: calc(9.5rem - var(--top-trait));
  }
}
.home-temoignages .ligne {
  --dots-w:19.4rem;
  --dots-h:17.4rem;
  position: relative;
}
.home-temoignages .ligne::before {
  background-image: url("dots-en-carre.svg");
  background-repeat: repeat;
  bottom: -3rem;
  content: "";
  display: block;
  height: var(--dots-h);
  position: absolute;
  right: -2rem;
  width: var(--dots-w);
}
.home-temoignages .ligne:nth-of-type(2)::before {
  left: -2rem;
  right: unset;
}
.home-temoignages .titre {
  color: var(--wp--preset--color--cyan-ad);
  display: block;
  font-family: var(--font-poppins);
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  text-transform: uppercase;
}
.home-temoignages .texte {
  display: block;
  font-weight: 700;
  margin-bottom: 3.9rem;
  text-align: center;
}
.home-temoignages .quotes {
  --picto-w:3.8rem;
  --picto-h:4rem;
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #E2E2E2;
  border-radius: 30px;
  margin-bottom: 6rem;
  overflow: visible;
  padding: 3.9rem 1.8rem 0.8rem 3.1rem;
  position: relative;
}
.home-temoignages .quotes::after {
  background-image: url("quote.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: var(--picto-h);
  left: calc((100% - var(--picto-w)) / 2);
  position: absolute;
  top: calc(-0.5 * var(--picto-h));
  width: var(--picto-w);
}
.home-temoignages blockquote {
  color: var(--wp--preset--color--cyan-ad);
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 7px;
}
.home-temoignages .client {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
}
@media (min-width: 1024px) {
  .home-temoignages {
    padding: 9rem 0 0;
  }
  .home-temoignages .ligne {
    --dots-w:27.6rem;
    --dots-h:24.7rem;
    --padding-l:5%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--padding-l);
    gap: 3.6%;
  }
  .home-temoignages .ligne::before {
    bottom: 0;
    right: calc(var(--padding-l) - 4.8rem);
  }
  .home-temoignages .ligne p, .home-temoignages .ligne .quotes {
    flex-basis: 50%;
  }
  .home-temoignages .ligne > p {
    padding-left: 5%;
    padding-right: 5rem;
  }
  .home-temoignages .ligne:nth-of-type(2) {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .home-temoignages .ligne:nth-of-type(2)::before {
    bottom: 0;
    right: unset;
    left: calc(var(--padding-l) - 4.8rem);
  }
  .home-temoignages .ligne:nth-of-type(2) .quotes {
    margin-bottom: 7rem;
  }
  .home-temoignages .ligne:nth-of-type(3)::before {
    bottom: unset;
    top: -4rem;
  }
  .home-temoignages .titre {
    font-size: 4.5rem;
    line-height: 6.84rem;
    text-align: left;
  }
  .home-temoignages .texte {
    font-size: 2.7rem;
    line-height: 3.8rem;
    position: relative;
    text-align: left;
  }
  .home-temoignages .texte::after {
    background-color: var(--wp--preset--color--noir);
    border-radius: 100px;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: relative;
    top: 3rem;
    width: 7rem;
  }
  .home-temoignages .quotes {
    --picto-w:7.6rem;
    --picto-h:7.9rem;
    margin-bottom: 4rem;
    padding: 6rem 4rem 6rem 6rem;
  }
  .home-temoignages .quotes::after {
    left: calc(-0.5 * var(--picto-w));
    top: 5rem;
  }
  .home-temoignages blockquote, .home-temoignages .client {
    font-size: 1.8rem;
    line-height: 2.52rem;
  }
  .home-temoignages .decor {
    background-image: url("dots-degrade.svg");
    background-repeat: repeat-x;
    height: 12rem;
    transform-origin: center;
    transform: rotateX(180deg);
    width: 100%;
  }
}