@import "./././sass/abstracts/variables-et-mixins";

.home-temoignages {
	background-image: url('dots-degrade.svg');
	background-repeat: repeat-x;
	padding:3rem 2rem;

	.titre-section {
		--couleur:var(--wp--preset--color--noir);
		@include titre-section-avec-trait;
	}

	.ligne {
		--dots-w:19.4rem;
		--dots-h:17.4rem;
		position: relative;
	}
	.ligne::before {
		background-image: url('dots-en-carre.svg');
		background-repeat: repeat;
		bottom:-3rem;
		content:'';
		display: block;
		height:var(--dots-h);
		position:absolute;
		right:-2rem;
		width:var(--dots-w);
	}
	.ligne:nth-of-type(2)::before {
		left:-2rem;
		right:unset;
	}

	.titre {
		color:var(--wp--preset--color--cyan-ad);
		display: block;
		font-family: var(--font-poppins);
		font-size: 2.2rem;
		line-height: 3.3rem;
		text-align: center;
		text-transform: uppercase;
	}
	.texte {
		display: block;
		margin-bottom: 3.9rem;
		text-align: center;
	}
	.quotes {
		--picto-w:3.8rem;
		--picto-h:4rem;
		background-color: #fff;
		box-shadow: 3px 3px 6px #00000029;
		border: 2px solid #E2E2E2;
		border-radius: 30px;
		margin-bottom: 6rem;
		overflow: visible;
		padding:3.9rem 1.8rem 0.8rem 3.1rem;
		position: relative;
		&::after {
			background-image: url('quote.svg');
			background-repeat: no-repeat;
			background-size: contain;
			content:'';
			display: block;
			height:var(--picto-h);
			left:calc((100% - var(--picto-w)) / 2);
			position:absolute;
			top:calc(-0.5 * var(--picto-h));
			width:var(--picto-w);
		}
		
	
	}
	blockquote {
		color:var(--wp--preset--color--cyan-ad);
		font-style: italic;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.2rem;
		margin-bottom: 7px;
	}
	.client {
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 2.2rem;
	}

	

	@include bp(lg) {
		padding: 9rem 0 0;
		
		.ligne {
			--dots-w:27.6rem;
			--dots-h:24.7rem;
			--padding-l:5%;
			align-items: center;
			display: flex;
			justify-content: flex-end;
			padding:0 var(--padding-l);
			gap:3.6%;
			&::before {
				bottom:0;
				right:calc(var(--padding-l) - 4.8rem);
			}
			
			p, .quotes {
				flex-basis:50%;
			}

			p {
				padding-left:5%;
				padding-right:5rem;
			}

			&:nth-of-type(2) {
				flex-direction: row-reverse;
				justify-content: flex-start;
				&::before {
					bottom:0;
					right:unset;
					left:calc(var(--padding-l) - 4.8rem);
				}
				.quotes {
					margin-bottom: 7rem;
				}
			}

			&:nth-of-type(3) {
				&::before {
					bottom:unset;
					top:-4rem;
				}
			}
		}
		.titre {
			font-size: 5rem;
			line-height: 7.6rem;
			text-align: left;
		}
		.texte {
			font-size: 3rem;
			line-height: 4.2rem;
			position: relative;
			text-align: left;
			&::after {
				background-color: var(--wp--preset--color--noir);
				border-radius: 100px;
				content: '';
				display: block;
				height:4px;
				left:0;
				position:relative;
				top:3rem;
				width:7rem;
			}
		}

		.quotes {
			--picto-w:7.6rem;
			--picto-h:7.9rem;
			margin-bottom: 4rem;
			padding:6rem 4rem 6rem 6rem;
			&::after {
				left:calc(-0.5 * var(--picto-w));
				top:5rem;
			}

		}
		blockquote,.client {
			font-size: 2rem;
			line-height: 2.8rem;
		}
		
		.decor {
			background-image: url('dots-degrade.svg');
			background-repeat: repeat-x;
			height:12rem;
			transform-origin: center;
			transform:rotateX(180deg);
			width:100%;
		}
	}

	@include bp(xl) {
		.ligne:nth-of-type(3) {
			transform:translateX(7rem);
			p {
				padding-left:0;
			}
		}
	}
}